<div id="header" class="container-fluid ">
  <navbar></navbar>
  <hero></hero>
</div>
<div id="main" class="container">
	<div class="row p-3">
		<h2 class="w-100 text-center text-dark">Why SnowBus?</h2>
	</div>
	<div class="row p-3">
		<div class="col-12 col-md-6 p-3">
			<div class="card text-white bg-dark">
				<div class="card-img-overlay">
					<h4 class="card-title">We have guides</h4>
					<p class="card-text">Our well educated guides will help you everytime</p>
				</div>
				<img class="card-img-bottom img-fluid rounded" src="assets/img/guide1.jpg" alt="">
			</div>
		</div>
		<div class="col-12 col-md-6 p-3">
			<div class="card text-white bg-dark">
				<div class="card-img-overlay">
					<h4 class="card-title">We have accommodation</h4>
					<p class="card-text">Best nights and rest guaranteed</p>
				</div>
				<img class="card-img-bottom img-fluid rounded" src="assets/img/house.JPG" alt="">
			</div>
		</div>
	</div>
</div>
